<ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="createOrUpdateSession()" slot="icon-only" class="button"> <!-- @todo: class="button" は 大きく表示するための苦肉の策なので今後直す-->
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="start">
        <ion-button (click)="dismissSelf()" slot="icon-only" class="button"> <!-- @todo: class="button" は 大きく表示するための苦肉の策なので今後直す-->
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        セッション情報の編集
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form novalidate padding>
      <ion-list>
        <div class="item">
          <ion-label stacked color="primary">ヘッダー画像</ion-label>
          <!-- <previewable-image-input
            width=1024
            height=576
            (onChangeImage)="setNewImage($event)"
            [defaultImage]="session ? session.imageUrl : undefined"
          ></previewable-image-input> -->
        </div>
        <ion-item>
          <ion-label stacked color="primary">セッション名</ion-label>
          <ion-input type="text" [(ngModel)]="params.name" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked color="primary">キャッチフレーズ</ion-label>
          <ion-input type="text" [(ngModel)]="params.catchphrase" name="catchphrase"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked color="primary">シナリオ名</ion-label>
          <ion-input type="text" [(ngModel)]="params.scenarioName" name="scenarioName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked color="primary">概要</ion-label>
          <ion-textarea [(ngModel)]="params.description" name="description"></ion-textarea>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
  