.sidemenu .scroll-md {
  background: var(--ion-color-sidemenu);
}

.light .scroll-md {
  background: var(--ion-color-light);
}

.toolbar-md-sidemenu .toolbar-background-md {
  background: var(--ion-color-sidemenu);
}
