<ion-app>
  <ion-split-pane (ionChange)="splitPaneSubscribe($event)">
    <ion-menu *ngIf="login.isLogined$() | async">
      <ion-header no-border>
        <ion-toolbar [color]="(appearnce.getPaneSplitted$() | async) ? 'light' : 'sidemenu'">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/"></ion-back-button>
          </ion-buttons>
          <ion-title>{{ appearnce.getCurrentPage$() | async }}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content [ngClass]="(appearnce.getPaneSplitted$() | async) ? 'light' : 'sidemenu'">
        <ion-list >
            {{ isChatPage$ | async }}
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
