page-title {
  h1 {
    font-weight: 900;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    display: inline;
  }

  span {
    font-size: 1.5rem;
    opacity: 0.6;
    font-weight: 600;
  }
}
