<ion-header #header appFadeHeader>
  <ion-toolbar>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar color="primary"
      [(ngModel)]="queryText"
      (ionInput)="updateSession()"
      placeholder="タイトルで検索">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <ion-list>
    <tablk-session-list-item
      *ngFor="let id of (sessions.readMyIds$() | async)"
      [id]="id"
    >
    </tablk-session-list-item>
  </ion-list>
</ion-content>
