<ion-header no-border>
  <ion-toolbar color="light">
      <ion-buttons slot="start">
      <ion-menu-toggle>
        <!-- @todo: class="button" は 大きく表示するための苦肉の策なので今後直す-->
        <ion-button class="button" slot="icon-only">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
      </ion-buttons>
    <ion-title>
      <tablk-page-title
        title="Sessions"
        translatedTitle="セッション一覧"
      ></tablk-page-title>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color="light">
    <ion-searchbar
      [value]="queryText"
      (ionChange)="updateQuery($event)"
      mode="ios"
      placeholder="タイトルで検索">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <tablk-session-list
    [sessions$]="sessions$"
  >
  </tablk-session-list>
</ion-content>
