<ion-header no-border>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <!-- @todo: class="button" は 大きく表示するための苦肉の策なので今後直す-->
        <ion-button class="button" slot="icon-only">
          <ion-icon name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>
      <tablk-page-title
        title="Talk"
        translatedTitle="会話"
      ></tablk-page-title>
    </ion-title>
  </ion-toolbar>
  <ion-segment
    color="primary"
    [value]="selectedSegment"
    (ionChange)="selectSegment($event)"
  >
    <ion-segment-button [value]="segments.Description">
      説明
    </ion-segment-button>
    <ion-segment-button [value]="segments.Members">
      メンバー
    </ion-segment-button>
    <ion-segment-button [value]="segments.Notes">
      メモ
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  
</ion-content>